#outer-box {
    background-color: #BDC3CB;
    padding: 1em 1em 1em 1em;
    border-radius: 1em;
    display: inline-block;
    width: 100%;
}

#inner-box-info {
    background-color: #EDE7DC;
    border-radius: 1em;
    padding: 2.5em 2.5em 2.5em 2.5em;
    margin: 1em 1em 1em 1em;
}

label {
    color: black;
    font-weight: 600;
    font-size: 1.2em;
    margin-right: 0.2em;
    text-align: left;
}

span {
    color: black;
    font-weight: 500;
    font-size: 1.2em;
    margin-right: 0em;
    text-align: right;
}

li {
    text-align: left;
}